{% extends 'base.html.twig' %}

{% block title %}Option index{% endblock %}

{% block body %}
    <h1>Option index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Affnommarque</th>
                <th>Mailnomparque</th>
                <th>Mailtelephone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.affnommarque }}</td>
                <td>{{ option.mailnomparque }}</td>
                <td>{{ option.mailtelephone ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_back_membre_option_show', {'id': option.id}) }}">show</a>
                    <a href="{{ path('app_back_membre_option_edit', {'id': option.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_back_membre_option_new') }}">Create new</a>
{% endblock %}
