{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block body %}
    <h1>Option</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ option.id }}</td>
            </tr>
            <tr>
                <th>Affnommarque</th>
                <td>{{ option.affnommarque }}</td>
            </tr>
            <tr>
                <th>Mailnomparque</th>
                <td>{{ option.mailnomparque }}</td>
            </tr>
            <tr>
                <th>Mailtelephone</th>
                <td>{{ option.mailtelephone ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_membre_option_index') }}">back to list</a>

    <a href="{{ path('app_back_membre_option_edit', {'id': option.id}) }}">edit</a>

    {{ include('back/membre/option/_delete_form.html.twig') }}
{% endblock %}
